.mixin.out
asm
astralsorcery
crash-reports
CustomSkinLoader
discordsuite
downloads
hammercore
journeymap
llibrary
local
logs
patchouli_books
resourcepacks
saves
screenshots
shaderpacks
valkyrielib
.curseclient
.ReAuth.cfg
.vs
*.dat
*.log
crafttweaker.log
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
usercache.json
usernamecache.json
/config/thaumicjei_itemstack_aspects.json
/mods/*